---
import Item from '~/components/blog/GridItem.astro';
import type {Post} from '~/types';
import EcGridItem from './EcGridItem.astro';
import {type Props as EcGridItemPropType} from "./EcGridItem.astro";
export interface Props {
    itemList:EcGridItemPropType[],
    isShop:boolean
//   posts: Array<Post>;
}
//useOrigin:是否使用原本的横向布局
const {itemList,isShop} = Astro.props;
---

<div class="grid gap-6 row-gap-5 md:grid-cols-2 -mb-6" style={isShop?'grid-template-columns: repeat(4, minmax(0, 1fr));':'grid-template-columns: repeat(3, minmax(0, 1fr));'}>
  {itemList.map(item => <EcGridItem title={item.title} desc={item.desc} image={item.image} url={item.url} urlEng={item.urlEng}/>)}
</div>