---
import {APP_BLOG} from 'astrowind:config';
import type {Post} from '~/types';

import Image from '~/components/common/Image.astro';

import {findImage} from '~/utils/images';
import {getPermalink} from '~/utils/permalinks';
import EcUtils from '~/utils/EcUtils';
import {getEntry} from 'astro:content';
import EcTranslate from '~/utils/EcTranslate';
export interface Props {
  title: string;
  image: ImageMetadata;
  desc: string;
  url?:string
  urlEng?:string
}

const {desc, image, title,url,urlEng} = Astro.props;
// const image = await findImage(post.image);

// const link = APP_BLOG?.post?.isEnabled ? getPermalink(post.permalink, 'post') : '';
---

<article
  class="mb-6 transition intersect-once intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade"
>
  <div class="relative md:h-64 bg-gray-400 dark:bg-slate-700 rounded shadow-lg mb-6">
    <a href={EcTranslate.getCurrentLang(Astro.url.href)==="zh"?url:urlEng}>
      <Image
        src={image}
        class="w-full md:h-full rounded shadow-lg bg-gray-400 dark:bg-slate-700"
        widths={[400, 900]}
        alt={''}
        width={400}
        sizes="(max-width: 900px) 400px, 900px"
        aspectRatio="4:3"
        layout="cover"
        loading="lazy"
        decoding="async"
      />
    </a>
  </div>

  <h3 class="text-xl sm:text-2xl font-bold leading-tight mb-2 font-heading dark:text-slate-300">
    {
      url||urlEng? (
        <a
          class="inline-block hover:text-primary dark:hover:text-blue-700 transition ease-in duration-200"
          href={EcTranslate.getCurrentLang(Astro.url.href)==="zh"?url:urlEng}
        >
          {title}
        </a>
      ) : (
        title
      )
    }
  </h3>
  <p class="text-muted dark:text-slate-400 text-lg border-spacing-1">
    {desc}
  </p>
</article>
