---
import {APP_BLOG} from 'astrowind:config';

import Grid from '~/components/blog/Grid.astro';

import {getBlogPermalink} from '~/utils/permalinks';
import {findLatestPosts} from '~/utils/blog';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import type {Widget} from '~/types';
import EcTranslate,{type SupportedLang} from '~/utils/EcTranslate';
import EcGrid from './EcGrid.astro';
import {SelectedNews,SelectedNewsEnglish} from "../../content/EcSelectedNews";
import EcGridItem from './EcGridItem.astro';
import "~/EcStyle.css"
export interface Props extends Widget {
  title?: string;
  linkText?: string;
  linkUrl?: string | URL;
  information?: string;
  count?: number;
  lang:SupportedLang
}

const {
  title = await Astro.slots.render('title'),
  information = await Astro.slots.render('information'),
  count = 3,
  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
  lang
} = Astro.props;
---

<WidgetWrapper id={id} isDark={isDark} containerClass={classes?.container as string} bg={bg}>
  <div class="flex flex-col lg:justify-between lg:flex-row mb-8">
    {
      title && (
        <div class="md:max-w-sm">
          <h2
            class="text-3xl font-bold tracking-tight sm:text-4xl sm:leading-none group font-heading mb-2"
            set:html={title}
          />
        </div>
      )
    }

    {information && <p class="text-muted dark:text-slate-400 lg:text-sm lg:max-w-md" set:html={information} />}
  </div>
  <!-- <EcGrid isShop={false} itemList={lang === "zh" ? SelectedNews : SelectedNewsEnglish}/> -->
   <div id="selectedNewsListDiv" class="grid gap-6 row-gap-5 -mb-6">
    {
      lang==="zh"?SelectedNews.map(item => (
        <EcGridItem title={item.title} desc={item.desc} image={item.image} url={item.url} urlEng={item.urlEng} />
      )):SelectedNewsEnglish.map(item => (
        <EcGridItem title={item.title} desc={item.desc} image={item.image} url={item.url} urlEng={item.urlEng} />
      ))
    }
  </div>
  <script>
    setInterval(() => {
      const selectedNewsListDiv=document.getElementById("selectedNewsListDiv");
      if (!selectedNewsListDiv) return;
      if (window.innerWidth < window.innerHeight) {
        //移动端
        selectedNewsListDiv.classList.add("selectedNewsListMobile");
      }else{
        //桌面端
        selectedNewsListDiv.classList.add("md:grid-cols-3");
      }
    }, 500);
  </script>
</WidgetWrapper>
